- provide(:title, @user.name)

.row
  %aside.col-md-4
    %section.user_info
      %h1
        = @user.name
    %section.stats
    %section.micropost_form
      -# = render 'shared/book_form'
  .col-md-8
    - if @books.any?
      %h3
        订阅
      %ol.microposts
        = render @books
