// https://www.fontsquirrel.com/fonts/montserrat

@font-face {
	font-family: 'Montserrat';
	src: font-url('Montserrat-Black.eot');
	src: local('☺'), font-url('Montserrat-Black.woff') format('woff'), font-url('Montserrat-Black.ttf') format('truetype'), font-url('Montserrat-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: asset-url('fonts/Montserrat-Bold.eot');
	src: local('☺'), asset-url('Montserrat-Bold.woff') format('woff'), asset-url('Montserrat-Bold.ttf') format('truetype'), asset-url('Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: asset-url('Montserrat-Regular.eot');
	src: local('☺'), asset-url('Montserrat-Regular.woff') format('woff'), asset-url('Montserrat-Regular.ttf') format('truetype'), asset-url('Montserrat-Regular.svg') format('svg');

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: asset-url('Montserrat-Light.eot');
	src: local('☺'), asset-url('Montserrat-Light.woff') format('woff'), asset-url('Montserrat-Light.ttf') format('truetype'), asset-url('Montserrat-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
